<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>colorWheel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E29B97811E9DD3D400F28ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E29B97981E9DD3D400F28ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E29B97A31E9DD3D400F28ABB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
